{% extends 'base.html' %}

{% block head %}

<title>Search Page</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block body %}
<div class="content">
    <div style="text-align: center;">
        <img src="https://user-images.githubusercontent.com/104557123/266734027-47df6465-3f5e-4bdb-bb55-92638b8c6797.png" height=100 width = 100" class="rounded mx-auto d-block" alt="...">
      </div>
    <h1 style="text-align: center">Image Search</h1>

    <div class="form">
        <form action="/review" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Search">
        </form>
    </div>
</div>
{% endblock %}